@charset "utf-8";

* {
  box-sizing: border-box;
}

/* Login */

.container {
  background-color: #f7f7fa;
}
.login-box {
  max-width: 800px;
  min-height: 500px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin: 50px auto;
  display: flex;
  overflow: hidden;
}

.login-left {
  width: 400px;
  background-color: #485dba;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-right {
  width: 400px;
  background-color: #fff;
  padding: 40px;
  text-align: center;
}

.title {
  margin: 0;
  margin-bottom: 10px;
}

.text {
  margin-bottom: 24px;
}

.title-left {
  display: inline-block;
  color: white;
  font-size: 40px;
  font-family: "Dancing Script";
  padding: 30px;
}

.login-or {
  color: #a0a0a0;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.or-line {
  background-color: #e5e5e5;
  height: 1px;
  margin-bottom: 0;
  margin-top: 0;
  display: block;
}

.or-text {
  background-color: #fff;
  display: block;
  left: 50%;
  margin-left: -33px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 59px;
}

.error-div {
  margin: 10px;
  font-size: 17px;
  color: red;
}

/* Employee List */

.social-login {
  margin-bottom: 20px;
}

.login-acount table {
  margin-bottom: 0;
  color: #666;
}

.fc-center h2{
  font-size: 20px !important;
  font-weight:bold;
}

.container-option2{
  padding-bottom:20px !important;
}

.header-right-menu{

}