* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 16px;
  background-color: #e7e9eb;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.bg-orange {
  background-color: #f86534;
}

.bg-green {
  background-color: #33cd39;
}

.bg-puple {
  background-color: #8934ff;
}

.bg-blue {
  background-color: #3162ff;
}

/*      employees List Start       */
.title {
  font-size: 18px;
  line-height: 1.333;
  font-weight: 500;
  margin: 0 0 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}

.wraper {
  max-width: 100%;
  margin: 0 auto;
}

.employee-list {
  --gap: 20px;
  --columns: 3;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(var(--columns), 1fr);
}
.employee-list-item {
  border-radius: 10px;
  padding: 20px;
  /* box-shadow: rgba(149, 157, 165, 0.377) 0px 0px 8px; */
  border: 1px solid rgba(153, 153, 153, 0.247);
}
.employee-list-logo {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.267) 0px 0px 4px;
}
.employee-list-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.employee-list-title {
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.employee-list-detail {
  color: #8b8b8b;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-height: 1.7;
}
.employee-list-tag {
  margin: 20px 0 0px 0;
  display: flex;
  align-items: stretch;
}
.employee-list .tag-item {
  padding: 8px 10px;
  display: inline-block;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  color: #8d8d8d;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
}
.employee-list .tag-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.2;
}
.employee-list-friends {
  display: flex;
  align-items: center;
  margin: 20px 0;
  margin-left: 8px;
}
.employee-list .friends-item {
  cursor: pointer;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -8px;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
}

.employee-list .friends-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.employee-list .friends-item:nth-child(4) {
  border: 1px solid #e2e2e2;
  color: #aaa;
}
.employee-list .friends-count {
  margin-left: 10px;
  color: gray;
  font-size: 14px;
}
.employee-list-action {
  display: flex;
  justify-content: space-between;
}
.employee-list .action-button {
  width: calc(100% / 2 - 10px);
  outline: none;
  border: none;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
}
.employee-list .action-button--blue {
  background-color: #2664ff;
  color: white;
}
.employee-list .action-button--blue:hover {
  background-color: #2050c9;
}
.employee-list .action-button--gray {
  background-color: #f1f1f5;
  color: #81818c;
}
.employee-list .action-button--gray:hover {
  background-color: #dedee0;
}

/*      employees List End       */

.create-from {
  margin-bottom: 0;
}

.body-right {
  padding: 10px;
}

.body-right-option {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-left: 0;
  margin-right: 0;
}
.option-item a {
  display: inline-block;
  text-decoration: none;
  color: black;
  line-height: 3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.option-item {
  cursor: pointer;
  border: 1px solid #ededed;
  width: 160px;
}

.option-item {
  color: black;
  background: linear-gradient(to left, white 50%, #ededed 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}
.option-item:hover {
  background-position: left;
}

.option-item:hover a {
  color: black;
}

.option-item:nth-child(1) {
  border-radius: 10px 0 0 10px;
}

.option-item:nth-child(2) {
  border-left: none;
}

.option-item:nth-child(3) {
  border-left: none;
}
.option-item:nth-child(4) {
  border-radius: 0 10px 10px 0;
  background: linear-gradient(to left, white 50%, rgba(248, 87, 87, 0.897) 50%)
    right;
  background-size: 200%;
  transition: 0.5s ease-out;
  border-left: none;
}
.option-item:nth-child(4):hover {
  background-position: left;
}

.option-item:last-child {
  border-radius: 0 10px 10px 0;
}

.is-active a {
  color: white !important;
}

.body-right-create {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}

.create-left {
}

.create-right {
}

.create-left p {
  margin-bottom: 0;
}

.is-active_active {
  background: #28a744 !important;
}

.is-delete_active {
  background: rgba(248, 87, 87, 0.897) !important;
}
